/BSPD Altium
/BSPD_LUKAS/BSPDLukas/gerbers
/BSPD_LUKAS/BSPDLukas/History
/BSPD_LUKAS/BSPDLukas/BSPDLukas1
/BSPD_LUKAS/BSPDLukas/OldVersions
/BSPD_LUKAS/BSPDLukas/Project Logs for BSPDLukas
/BSPD_LUKAS/BSPDLukas/Project Outputs for BSPDLukas
/BSPD_LUKAS/BSPDLukas/_Previews
BSPD_TY22/01 - Parts/BSPD_Main/Status Report.Txt
*.LOG
*.xlsx
*.SchDocPreview
*.SchDocPreview
*.drc
*.html
*.SchDocPreview
*.raw
*.raw
*.SchDocPreview
*.APR_LIB
*.apr
*.DRR
*.EXTREP
*.G1
*.G2
*.GBL
*.GBO
*.GBP
*.GBS
*.GML
*.GTL
*.GTO
*.GTP
*.GTS
*.LDP
*.REP
*.RUL
BSPD_TY22/01 - Parts/BSPD_Main/gerbers/JLC_GERBERS/PCB_BSPD_Main.TXT
BSPD_TY22/01 - Parts/BSPD_Main/gerbers/Status Report.Txt
*.SchDocPreview
*.raw
*.raw
BSPD_TY22/01 - Parts/BSPD_Sensorboard/gerbers/JLC_GERBERS/PCB_BSPD_Sensorboard.TXT
BSPD_TY22/01 - Parts/BSPD_Main/History/BSPD_Main.~(5).PrjPcb.Zip
*.Zip
*.raw
*.raw
*.SchDocPreview
BSPD_TY22/01 - Parts/BSPD_Main/Unbenannt.png
*.SchDocPreview
*.SchDocPreview
*.SchDocPreview
*.raw
*.raw
